body {background: #f9f9f9;}
.mgT    {margin-top: 20px;}
.pd {padding: 20px;}
.hide {display: none;}
.box-shadow {box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);}
.bg-white {background: #fff;;}
label {font-weight: bold;}
.txt-right {text-align: right;}